@import "@/styles/variables";
@import "@/styles/breakpoint";
@import "@/styles/font";






.banner {
    height: 100%;
    position: relative;
    padding-top: toRem(72);

    .banner_bg {
        position: absolute;
        top: -0.85rem;
        z-index: 0;
        padding-top: 17px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s;

        }
    }

    .banner_popup {
        position: absolute;
        /* margin-top: 6.85rem; */
        top: 21.95rem;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
        width: 58%;
        // height: 100%;



        .popup_icon {
            display: flex;
            padding: toRem(13) 0 toRem(13) toRem(24);
            gap: toRem(8);
            background: #6E05A2;
            border-radius: toRem(16) toRem(16) 0 0;


            .popup_icon_round {
                width: toRem(14);
                height: toRem(14);
                border-radius: 50%;
                background-color: white;
                /* Màu trắng */
            }
        }

        .popup_content {
            background-image: linear-gradient(to bottom, rgba(135, 1, 202, 1), rgba(135, 1, 202, 0));
            position: relative;


            .banner_left {
                position: absolute;
                display: flex;
                background-color: #8701CA;
                padding: toRem(24) toRem(54) toRem(24) toRem(0);
                left: -20%;
                top: 28%;
                max-width: 346px;
                border-radius: 20px;

                .banner_left_icon {}

                .banner_left_content {
                    display: flex;
                    flex-direction: column;
                    min-width: 137px;
                    text-align: start;

                    p {
                        font-size: 32px;
                        color: #ffffff;
                        margin: 0;
                    }

                    span {
                        font-size: 14px;
                        color: #ffffff;

                    }
                }

            }

            .banner_right {
                position: absolute;
                display: flex;
                background-color: #FCA345;
                padding: toRem(24) toRem(54) toRem(24) toRem(0);
                right: -20%;
                top: 28%;
                max-width: 346px;
                border-radius: 20px;

                .banner_right_icon {}

                .banner_right_content {
                    display: flex;
                    flex-direction: column;
                    min-width: 137px;
                    text-align: start;

                    p {
                        font-size: 32px;
                        color: #ffffff;
                        margin: 0;
                    }

                    span {
                        font-size: 14px;
                        color: #ffffff;

                    }
                }

            }

            .popup_title {
                padding-top: toRem(85);
                color: #FCA345;
                max-width: toRem(792);
                @include Inter800();
                font-size: toRem(48);
                margin: auto;

                span {
                    color: #ffffff;
                }
            }

            p {
                color: #D2BADE;
                padding-top: toRem(10);
                max-width: 610px;
                margin: auto;

            }

            .popup_search {
                padding-top: toRem(32);
                position: relative;
                padding-bottom: 228px;

                .popup_search_cooper {
                    position: relative;
                    border: 1px solid #ffffff;
                    border-radius: toRem(100);
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0.5rem 1rem 1rem;
                    background-color: #ffffff;
                    max-width: toRem(500);

                    input {
                        border: none;
                        min-width: 400px;
                    }

                    img {
                        position: absolute;
                        top: toRem(16);
                        right: 2%;
                    }
                }



            }
        }


    }

    .theorange {
        position: absolute;
        top: 820%;

        img {
            width: 100%;
        }
    }

    .plane {
        position: absolute;
        top: 735%;
        right: 44%;

        img {
            width: 100%;
        }
    }

    .purple {
        position: absolute;
        top: 826%;
        right: 44.5%;

        img {
            width: 180%;
        }
    }

    .stroke {
        position: absolute;
        top: 840%;
        right: 44%;

        img {
            width: 178%;
        }
    }

    .banner_course {
        position: absolute;
        top: 1190%;
        -webkit-transform: translate(-50%, -50%);
        text-align: center;
        width: 58%;
        left: 50%;
        background-color: #8701CA;
        min-width: 1170px;
        display: flex;
        justify-content: end;
        flex-direction: column;
        align-items: flex-end;
        padding: 38px 92px 37px 8px;
        border-radius: 16px;
        .banner_course_people {
            position: absolute;
            right: 46%;
            top: -85%;
        }
        .banner_course_content {
            .banner_course_title {
                color: #ffffff;
                text-align: start;
                max-width: 406px;
                margin-bottom: 16px;

                p {
                    font-size: 32px;
                    @include Inter600();
                    line-height: 48px;
                }
            }

            .banner_course_lesson {

                gap: 4px;
                display: flex;

                a {
                    padding: 11px 36px;
                    border-radius: 8px;

                    &:nth-child(1) {
                        background-color: #FCA345;
                    }

                    &:nth-child(2) {
                        background-color: #7EC4CC;
                    }

                    &:nth-child(3) {
                        background-color: #F37F7F;
                    }

                    &:nth-child(4) {
                        background-color: #7B90FF;
                    }

                }

            }

            .banner_course_icon {
                display: flex;
                justify-content: space-between;
                margin-top: toRem(16);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 250px;
                    top: 3px;
                    height: 44px;
                    width: 0px;
                    border: 1px solid #ffffff;
                    opacity: 0.4;


                    
                }

                

                .banner_course_icon_group {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: start;
                    margin-right: toRem(38);

                    .banner_course_icon_star {
                        gap: 9px;
                        display: flex;

                        span {
                            color: #ffffff;
                        }
                    }

                    p {
                        color: #E0E0E0;
                        margin-top: 9px;
                    }

                }

                .banner_course_icon_people {}
            }
        }

    }


}